<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.training.utility.ListenersImplemention"></listener>
</listeners>
  <test name="Test">
    <classes>
      <class name="com.training.sanity.tests.RegisterTest"/>
      <class name="com.training.sanity.tests.RegisterExcelTest"/>
      <class name="com.training.sanity.tests.RegisterDBTest"/>
      <class name="com.training.sanity.tests.LoginTest"/>
      <class name="com.training.sanity.tests.RecoveryPasswordTest"/>
      <class name="com.training.sanity.tests.PreLoginCheckoutTest"/>
      <class name="com.training.sanity.tests.LoginAndPlaceOrderTest"/>
     </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
